# Dependencies of the notebooks in this repository.
# diffractom is not on PyPI: install it first, see https://github.com/msaca-okse/diffractom
# (release: https://doi.org/10.5281/zenodo.20431767).

h5py
hdf5plugin
ImageD11
matplotlib
numba
numpy
orix
psutil
pyFAI
pyopencl
scikit-image
scipy
tqdm
xfab
